.container {
    min-width: 32rem;
    max-width: 85rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
}